<!DOCTYPE html>
<html>

<head>
    <title>PROJETO EVERIS - JEFFERSON</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="box_login">
        <h1> LOGIN </h1>
        <form method="POST" action="http://localhost/everis/login/check">
            <input type="text" name="usuario" placeholder="USUÁRIO">
            <input type="password" name="password" placeholder="SENHA">
            <button class="btn-login"> LOGAR </button>
            {% if error != '' %}
            <span class="msg_error" style="text-align: center; font-size: 13px;"><i
                    class="fa fa-exclamation-circle"></i> Tentativa Inválida</span>
            {% endif %}
        </form>
        <form method="POST" action="http://localhost/everis/cadastrar">
            <button class="btn-login"> CADASTRAR </button>
        </form>
    </div>
</body>

</html>